@import './styles/variables.css';

:root {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: 400;
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: var(--font-size-large);
  line-height: var(--heading-line-height);
}

.button {
  padding: var(--button-padding);
  font-size: var(--font-size-small);
  font-weight: 400;
  color: var(--secondary-color);
  background-color: transparent;
  background-image: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-color: var(--primary-color);
}

.button-primary:hover {
  background-color: var(--button-primary-hover-background);
  border-color: var(--button-primary-hover-border);
}

.button-secondary {
  background-color: transparent;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.button-secondary:hover {
  color: var(--white-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.button:hover {
  color: var(--white-color);
  background-color: var(--button-hover-background);
  border-color: var(--button-hover-border);
}

.button:focus {
  outline: none;
  border-color: var(--focus-border-color);
  box-shadow: var(--focus-box-shadow);
}

.button:focus:not(:hover) {
  border-color: var(--border-color);
  box-shadow: none;
}

.button-danger {
  color: var(--danger-color);
  border-color: var(--danger-color);
  background-color: transparent;
  padding: var(--button-danger-padding);
}

.button-danger:hover {
  color: var(--white-color);
  background-color: var(--danger-color);
  border-color: var(--danger-color);
}
